
*
  box-sizing: border-box
  margin: 0
  padding: 0


body
    padding: 30px
    background: #1B1E25
    color: white
    padding-bottom: 70px    


a 
  text-decoration: none


img 
  max-width: 100%
  display: block
